@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* Variables */

@use './partials/variables' as *;

main{
  background-color: orange;
}


.col-2{
  background-color: orange;
}

.img{
  width: 100%;
}
.card_name{
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
}

.card_category{
  justify-self: flex-end ;
}